# This file is used exclusively for Examples/index.php
#
# Generate these keys after registering on the Erste Group developer portal.
# Go to https://developers.erstegroup.com/docs/tutorial/step-by-step
#
# These keys are functional and linked to my sandbox on the portal.
API_KEY=cc5cce51-1f42-40c6-ad9d-2818aaea4e0c
CLIENT_ID=d1f0d952-19b1-45f4-ae5e-d28af62564e2
CLIENT_SECRET=01bf6930-06b2-4078-a314-1e2370e38050

# For the example, the return URL must be exactly this.
REDIRECT_URI=http://localhost:8100/redirectedFromBank
